/* reset margins */

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Red Hat Display';
}


/* declare spacing, color, etc variables */
:root {
    --primary-color: #000D84;
    --dark-primary-color: #000638;
    --secondary-color: #00FFA3;
    --text-color: #FFF;
    --main-padding: 35px;
    font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
}

h4 {
    color: var(--secondary-color);
    font-size: 2em;
}
.priceInner {
    font-size: 2em;
}
h3 {font-size: 2.3em;}

header {
    background-color: var(--dark-primary-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    h2 {
        font-size: 3em;
    }
    #quote {
        position: relative;
        bottom: 0rem;
        left: -8em;
        max-width: 10em;
    }
}
nav {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    a {
        color: white;
    }
    span {
        color: var(--secondary-color);
    }
    ul {
        display: flex;
        list-style: none;
        li {
            margin-right: 10px;
        }
    }
}
section, header {
    padding: 25px;

}
section {
 background-color: var(--primary-color);
 color: white;
 min-height: 60vh;
 box-sizing: border-box;
 &:nth-of-type(2n) {
    background-color: var(--dark-primary-color);
 }
}
footer {
    background-color: var(--secondary-color);
    padding: 5px;
}
.card {
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 25px;
    box-sizing: border-box;
    color: var(--primary-color);
}